<div class="flex flex-row -space-x-2">
	<img class="rounded-full border-2 border-white w-10 h-10" src="/images/microsoft.jpg" alt="Microsoft" />
	<img class="rounded-full border-2 border-white w-10 h-10" src="/images/draftkings.png" alt="Draft Kings" />
	<img class="rounded-full border-2 border-white w-10 h-10" src="/images/powerdiary.jpg" alt="Power Diary" />
	<img class="rounded-full border-2 border-white w-10 h-10" src="/images/liberty.jpg" alt="Liberty" />
</div>