<div class="bg-base-200">
	<nav class="w-full">
		<div class="py-4 px-8 mx-auto">
			<div class="flex justify-between items-center">
				<div>
					<a href="/" hydro-link>
						<partial name="_ApplicationLogo" />
					</a>
				</div>
				<div class="flex-none">
					<ul class="menu menu-horizontal px-1">
					</ul>
				</div>
				<div class="hidden sm:block">
					<a href="/post-job" class="btn btn-primary">
						Post a job
					</a>
				</div>
			</div>
		</div>
	</nav>
</div>

